{% extends 'base.html.twig' %}

{% block title %}Extract | Home {% endblock %}

{% block body %}

{% block header %}
<link rel="stylesheet" href="{{ path('index_route') }}stylesheets/home.css">
{% endblock %}
<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 embed-responsive" id="intro">
                <video autoplay loop muted>
                    <source src="video/animation.mp4" type="video/mp4">
                </video>
                <div class="col-12 nav">
                    <ul>
                            <a name="" id="" style="margin-right:20px;" class="btn btn-success" href="{{ path('home_route') }}"
                            role="button">Accueil</a>
                        {% if is_granted('ROLE_ADMIN') %}




                        <a name="" id="" style="margin-right:20px;" class="btn btn-danger" href="{{ path('back') }}"
                            role="button">Administration</a>


                        {% endif %}
                        <a href="#">
                            <li> {{ app.user.username }}</li>
                        </a>
                        <li class="sepa">|</li>

                        <a href="{{ path('security_logout') }}">
                            <li>Déconnexion</li>
                        </a>
                    </ul>
                </div>
                <br><br><br><br>
                <div class="container">
                        <h3 style="display: flex;
                        z-index: 2;
                        position: absolute;
                        margin: auto;
                        color: white;">Classement</h3>
                        <br><br><br><br>
                </div>
               <div class="container" style="
               z-index: 2;
               display: flex;
               flex-flow: row wrap;
               font-weight: bold;
               text-align: center;
               height: 90vh;
           ">
           
                    <table class="table table-dark" style="z-index:2;border-radius: 6px;background-color: #071d25;" >
                            <thead>
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Joueur</th>
                                <th scope="col">Parties joués</th>
                                <th scope="col">Parties gagnés </th>
                              </tr>
                            </thead>
                            <tbody>

                                    {% for one in users %}
                                   
                              <tr>
                                <th scope="row">{{one.id}}</th>
                                <td>{{one.username}}</td>
                                <td>{{one.gamesplayed}}</td>
                                <td>{{one.gameswon}}</td>
                              </tr>
                              {% endfor %}
                             
                            </tbody>
                          </table>
               </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}