{% extends 'base.html.twig' %}

{% block title %}Extract | Home {% endblock %}

{% block body %}

{% block header %}
<link rel="stylesheet" href="../stylesheets/home.css">
{% endblock %}
<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 embed-responsive" id="intro">
                <video autoplay loop muted>
                    <source src="video/animation.mp4" type="video/mp4">
                </video>
                <div class="col-12 nav">
                    <ul>
                        {% if is_granted('ROLE_ADMIN') %}




                        <a name="" id="" style="margin-right:20px;" class="btn btn-danger" href="{{ path('back') }}"
                            role="button">Administration</a>


                        {% endif %}
                        <a href="#">
                            <li> {{ app.user.username }}</li>
                        </a>
                        <li class="sepa">|</li>

                        <a href="{{ path('security_logout') }}">
                            <li>Déconnexion</li>
                        </a>
                    </ul>
                </div>
                <div class="menus col-12 text-center text-white">
                    <div class="menu">
                        <div id="menu1">
                            <a href="#"><img src="img/regles.svg" alt=""></a>
                            <a href="#">Règles</a>
                        </div>
                    </div>
                    <div class="menu">
                        <div id="menu2">
                            <a href="plateau.html"><img src="img/jouer.svg" alt=""></a>
                            <a href="plateau.html">Jouer</a>
                        </div>
                    </div>
                    <div class="menu">
                        <div id="menu3">
                            <a href="#"><img src="img/classement.svg" alt=""></a>
                            <a href="#">Classement</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <br>
    <br>
    <br>
    <h1>Home</h1>
    <br><br>

    {% if app.user %}

    <h3>Bienvenue à toi : {{ app.user.username }}</h3>
    <p><a href="{{ path('security_logout') }}">Se déconnecter </a></p>

    <br>
    <div class="row">
        <div class="col-6">
            <h3>Mes parties : </h3>

            {% for partie in mesparties %}
            <br>


            <a class="btn btn-dark" href="{{ path('afficher_partie', {'partie': partie.id}) }}" role="button">Accéder à
                la
                partie {{ partie.id }} </a>


            {% endfor %}
        </div>
        <div class="col-6">
            <h3>Parties invités : </h3>
            <br>
            {% for partie in invparties %}


            <a class="btn btn-dark" href="{{ path('afficher_partie', {'partie': partie.id}) }}" role="button">Accéder à
                la
                partie {{ partie.id }} </a>


            {% endfor %}
        </div>
    </div>

    <br><br>
    <h3>Nouvelle partie : </h3>
    <br><br>
    <a name="" id="" class="btn btn-success" href="{{ path('partie_creer') }}" role="button">Créer une partie</a>

    <br>
    <br><br>
    {% if is_granted('ROLE_ADMIN') %}


    <h3>Administration</h3>
    <br>

    <a name="" id="" class="btn btn-warning" href="{{ path('back') }}" role="button">Backoffice</a>
    <br><br>

    {% endif %}
    {% endif %}




</div>
{% endblock %}