{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="../stylesheets/app.css">
<style>
  .selected {
      border: 2px solid red;
  }
  .new {
    border: 2px solid green;
  }

  body{padding: 28px;background-color: aliceblue;}
</style>
{% endblock %}

{% block body %}
<h1>Partie entre {{ partie.joueur1.username }} et {{ partie.joueur2.username }}</h1>

<div id="plateau">
  {{ render(controller(
  'App\\Controller\\JouerController::afficherPlateau',
  { 'partie': partie.id }
  )) }}
</div>

<div id="attentejoueur" style="position:fixed; top:0; left:0; height: 100%; width: 100%; background-color: darkgray; opacity: 0.8;font-size: 60px; display:none">
  Attente du joueur
</div>
{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
<script>
  var actualise = false;
  var cartesSelectedTerrain = Array();
  var cartesSelectedChameau = Array();
  var cartesSelectedMain = Array();
  var carteType = "default";

  $(document).ready(function () {
   setInterval(actualisePlateau, 2000);
    
})

  function actualisePlateau() {
    $.ajax({
      url: "{{ path('actualise_plateau', {partie: partie.id}) }}",
    }).done(function (etat) {


      console.log(etat);


      if (etat === 'touradversaire') {
        actualise = false;
        console.log('attente Adversaire')
        $('#attentejoueur').show();
      }


      if (etat === 'montour') {
        if (actualise === false) {
          console.log('reload');
          
          $('#plateau').empty().load("{{ path('afficher_plateau', {partie:partie.id}) }}");
          $('img').removeClass('selected');
          cartesSelectedTerrain = Array();
          cartesSelectedChameau = Array();
          cartesSelectedMain = Array();
          actualise = true;
          $('#attentejoueur').hide();
        }
        //console.log('Mon tour')
      }


    });
  }


  $(document).on('click', '#terrain .cartechameau', function () {
    
    if ($(this).hasClass('selected')) {
      $(this).removeClass('selected');
      
      //retirer d'un tableau
      $index = cartesSelectedChameau.indexOf($(this).data('carte'));
      cartesSelectedChameau.splice($index, 1);
      console.log( "Chameaux " + cartesSelectedChameau)
    }
    
     else {
      $('.cartechameau').addClass('selected');
      //ajouter dans un tableau
      carteType="chameau";
      $( '.cartechameau' ).each(function( index ) {
        cartesSelectedChameau.push($(this).data('carte'));
       
        console.log( "Chameaux : " + cartesSelectedChameau + " Etat carteType : " + carteType);
        console.log( "Carte main à envoyer : " + cartesSelectedTerrain);
      });


      
    }
  })

    $(document).on('click', '.carteterrain', function () {
    
    if ($(this).hasClass('selected')) {
      $(this).removeClass('selected');
      //retirer d'un tableau
      $index = cartesSelectedTerrain.indexOf($(this).data('carte'));
      cartesSelectedTerrain.splice($index, 1);
      console.log("Terrain : " + cartesSelectedTerrain)
    } else {
      $(this).addClass('selected');
      //ajouter dans un tableau
      cartesSelectedTerrain.push($(this).data('carte'));
      console.log("Terrain : " + cartesSelectedTerrain)
    }
  })



  $(document).on('click', '.cartemain', function () {
    if ($(this).hasClass('selected')) {
      $(this).removeClass('selected');
      //retirer d'un tableau
      $index = cartesSelectedMain.indexOf($(this).data('carte'));
      cartesSelectedMain.splice($index, 1);
      console.log("Main :" + cartesSelectedMain)
    } else {
      $(this).addClass('selected');
      //ajouter dans un tableau
      cartesSelectedMain.push($(this).data('carte'));
      console.log("Main :" + cartesSelectedMain)
    }
  })
  


  $(document).on('click', '#action-prendre', function () {
    console.log(cartesSelectedTerrain)


    if (cartesSelectedTerrain.length == 0 && carteType != "chameau") {
      alert('Selectionnez une carte');
    } 
    
    else if (cartesSelectedTerrain.length > 1 && carteType != "chameau") {
      alert('Selectionnez une seule carte');
    } 

    else if(carteType == "chameau"){

      // Envoi de cartes chameaux 
      console.log("Cartes chameaux envoyés");

      // Requete ajax
      $.ajax({
        url: "{{ path('jouer_action_prendre', {partie: partie.id}) }}",
        data: {
          chameaux: cartesSelectedChameau
        },
        method: 'POST',

        success: function (data) {

          console.log('DEBUG')
          $('#bloc-action').hide('2000');
          $('#bloc-suivant').show('2000');
         

          var i;
          for (i = 0; i < cartesSelectedChameau.length; ++i) {
              // do something with `substr[i]`
              $('.carte_' + cartesSelectedChameau[i] ).hide('20000'); 
              $('.box_chameaux_j1').append('<img style="margin-right: 25px;" src="../cartes/' + data['carteschameaux'].fichier + '" class="cartemain new" height="70px" data-carte="' +  data['carteschameaux'].id + '" />').show('200');
            
          }
          
        
         
     
         
       },
       
      })



    }


    else {
      console.log('OK');
      $.ajax({
        url: "{{ path('jouer_action_prendre', {partie: partie.id}) }}",
        data: {
          cartes: cartesSelectedTerrain
        },
        method: 'POST',
        success: function (data) {
          console.log('carte' + data['cartemain'].id);
          $('#bloc-action').hide('2000');
          $('#bloc-suivant').show('2000');
          $('#carte-' + data['cartemain'].id).hide('20');
          var chameau = '';


          if (data['carteterrain'].valeur == 0) { 
            chameau = "chameau";
         }

           $('#terrain').append('<div class="col-sm-2" id="carte-' + data['carteterrain'].id + '"><img src="../cartes/' + data['carteterrain'].fichier + '" height="70px" class="carteterrain ' + chameau + ' new"  data-carte="' + data['carteterrain'].id + '" /></div>');
         $('#main').append('<img src="../cartes/' + data['cartemain'].fichier + '" class="cartemain new" height="70px" data-carte="' + data['cartemain'].id + '" />');
        },
        error: function (data) {
          if (data === 'erreur7') {
            alert('Vous avez déjà 7 cartes en main. Vous ne pouvez pas jouer cette action.');
          } else {
            alert('erreur action prendre');
          }
        }
      })
    }
  })




  $(document).on('click', '#action-terminer', function () {
    $.ajax({
      url: "{{ path('jouer_action_suivant', {partie: partie.id}) }}",
      method: 'POST'
    });
    location.reload();
  });
</script>
{% endblock %}