{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="../stylesheets/app.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tuesday/1.1.0/tuesday.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/plateau.css" />
<style>
  body{
    transition-duration: 0.2s;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/fond.jpg);
    background-size: cover;
  }
  .selected {
    box-shadow: 0px 17px 47px -1px rgba(0, 0, 0, 0.6);
    transition-duration: 0.2s;
    margin-right: 20px;
    
    transform: scale(1.2);
    border-radius: 2px;
    border: azure solid;
  }
  .unselected {
    box-shadow: inherit;
    transition-duration: 0.2s;
    margin-right: 0px;
    transform: inherit;
    border-radius: 0px;
    border: inherit;
  }

  .new {
    box-shadow: 0px 17px 47px -1px rgba(0, 0, 0, 0.6);
    transition-duration: 0.2s;
    margin-right: 20px;
    transform: scale(1.2);
  }

  

  
</style>
{% endblock %}

{% block body %}

<div  class="animated tdExpandIn">
  {{ render(controller(
  'App\\Controller\\JouerController::afficherPlateau',
  { 'partie': partie.id }
  )) }}
</div>

<div id="attentejoueur" class="animated tdExpandIn" style="position: fixed;top: -4px;left: 0px;height: 100%;padding: 160px;text-align: center;width: 100%;transition: all 0.2s ease 0s;background-color: #ffffffe0;opacity: 0.8;font-size: 60px;font-weight: bold;">
  <br> Attente du joueur {{ partie.joueur2.username }} <br>
  <center>
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </center>

</div>
{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
<script>
  $('#attentejoueur').hide();
  var actualise = false;
  var cartesSelectedTerrain = Array();
  var cartesSelectedChameau = Array();
  var cartesSelectedMain = Array();
  var cartesSelectedMainChameau = Array();
  var valeurSelectedMain = Array();
  var carteType = "default";

  $(document).ready(function () {
  setInterval(actualisePlateau, 2000);

  })

  function actualisePlateau() {
    $.ajax({
      url: "{{ path('actualise_plateau', {partie: partie.id}) }}",
    }).done(function (etat) {


      console.log(etat);


      if (etat === 'touradversaire') {
        actualise = false;
        console.log('attente Adversaire')
        $('#attentejoueur').show();
      }


      if (etat === 'montour') {
        if (actualise === false) {
          console.log('reload');

          $('#plateau').empty().load("{{ path('afficher_plateau', {partie:partie.id}) }}");
          $('img').removeClass('selected');
          cartesSelectedTerrain = Array();
          cartesSelectedChameau = Array();
          cartesSelectedMain = Array();
          actualise = true;
          $('#attentejoueur').hide();
        }
        //console.log('Mon tour')
      }


    });
  }


  $(document).on('click', '#terrain .cartechameau', function () {

    if ($(this).hasClass('selected')) {
      $(this).removeClass('selected');$(this).addClass('unselected');

      //retirer d'un tableau
      $index = cartesSelectedChameau.indexOf($(this).data('carte'));
      cartesSelectedChameau.splice($index, 1);
      console.log("Chameaux " + cartesSelectedChameau)
    } else {
      $('.cartechameau').addClass('selected');

      if ($(this).hasClass('unselected')) {
        $(this).removeClass('unselected');
        $('.cartechameau').addClass('selected');
      }
      //ajouter dans un tableau
      carteType = "chameau";
      $('.cartechameau').each(function (index) {
        cartesSelectedChameau.push($(this).data('carte'));

        console.log("Chameaux : " + cartesSelectedChameau + " Etat carteType : " + carteType);
        console.log("Carte main à envoyer : " + cartesSelectedTerrain);
      });



    }
  })

  $(document).on('click', '.carteterrain', function () {

    if ($(this).hasClass('selected')) {
      $(this).removeClass('selected');$(this).addClass('unselected');
      carteType = "terrain";
      //retirer d'un tableau
      $index = cartesSelectedTerrain.indexOf($(this).data('carte'));
      cartesSelectedTerrain.splice($index, 1);
      console.log("Terrain : " + cartesSelectedTerrain)
    } else {
      $(this).addClass('selected');
      if ($(this).hasClass('unselected')) {
        $(this).removeClass('unselected');
        $('.cartechameau').addClass('selected');
      }
      //ajouter dans un tableau
      cartesSelectedTerrain.push($(this).data('carte'));
      console.log("Terrain : " + cartesSelectedTerrain)
    }
  })



  $(document).on('click', '.carteMain', function () {
    if ($(this).hasClass('selected')) {
      $(this).removeClass('selected');$(this).addClass('unselected');

      $indexValeur = valeurSelectedMain.indexOf($(this).data('valeur'));
      //retirer d'un tableau
      $index = cartesSelectedMain.indexOf($(this).data('carte'));
      
      cartesSelectedMain.splice($index, 1);
      valeurSelectedMain.splice($indexValeur, 1);

      console.log("ID Main :" + cartesSelectedMain);
      console.log("Valeur Main :" + valeurSelectedMain);
    } else {
      $(this).addClass('selected');
      if ($(this).hasClass('unselected')) {
        $(this).removeClass('unselected');
        $('.cartechameau').addClass('selected');
      }
      carteType = "main";
      TrocChameau = true;

      //ajouter dans un tableau
      valeurSelectedMain.push($(this).data('valeur'));
      cartesSelectedMain.push($(this).data('carte'));
      console.log("ID Main :" + cartesSelectedMain);
      console.log("Valeur Main :" + valeurSelectedMain);
    }
  })

  $(document).on('click', '.carteMain_chameau', function () {
    if ($(this).hasClass('selected')) {
      $(this).removeClass('selected');$(this).addClass('unselected');

      //retirer d'un tableau
      $index = cartesSelectedMainChameau.indexOf($(this).data('carte'));
      cartesSelectedMainChameau.splice($index, 1);
      console.log("Main chameaux :" + cartesSelectedMainChameau)
    } else {
      $(this).addClass('selected');
      if ($(this).hasClass('unselected')) {
        $(this).removeClass('unselected');
        $('.cartechameau').addClass('selected');
      }
      carteType = "main";

      //ajouter dans un tableau
      cartesSelectedMainChameau.push($(this).data('carte'));
      console.log("Main Chameaux :" + cartesSelectedMainChameau)
    }
  })



  $(document).on('click', '#action-prendre', function () {
    console.log("Terrain  > " + cartesSelectedTerrain + " | Main > " + cartesSelectedMain + " | Chameaux > " +
      cartesSelectedChameau)


    if (cartesSelectedTerrain.length == 0 && carteType == "terrain") {
      alert('Selectionnez une carte');
    } else if (cartesSelectedTerrain.length > 1 && cartesSelectedMain.length > 0 && carteType != "chameau") {
      alert('Selectionnez une seule carte');
    }

    // Envoi des cartes chameaux
    else if (carteType == "chameau") {

      // Envoi de cartes chameaux 
      console.log("Cartes chameaux envoyés");

      // Requete ajax
      $.ajax({
        url: "{{ path('jouer_action_prendre', {partie: partie.id}) }}",
        data: {
          chameaux: cartesSelectedChameau
        },
        method: 'POST',

        success: function (data) {

          console.log('DEBUG')
          $('#bloc-action').hide('2000');
          ValideTour();


          var i;
          for (i = 0; i < cartesSelectedChameau.length; ++i) {
            // do something with `substr[i]`
            $('.carte_' + cartesSelectedChameau[i]).hide('20000');
            $('.box_chameaux_j1').append('<img style="margin-right: 25px;" src="../cartes/' + data[
              'carteschameaux'].fichier + '" class="cartemain new" height="70px" data-carte="' + data[
              'carteschameaux'].id + '" />').show('200');
            iziToast.success({
              title: 'Succès',
              message: 'Vous avez pris la carte chameau  ' + cartesSelectedChameau[i],
            });
          }





        },

      })

    } else {
      console.log('OK');
      $.ajax({
        url: "{{ path('jouer_action_prendre', {partie: partie.id}) }}",
        data: {
          cartes: cartesSelectedTerrain
        },
        method: 'POST',
        success: function (data) {
          console.log('carte' + data['cartemain'].id);
          $('#bloc-action').hide('2000');
          ValideTour();
          $('#carte-' + data['cartemain'].id).hide('20');
          var chameau = '';


          if (data['carteterrain'].valeur == 0) {
            chameau = "chameau";
          }

          $('#terrain').append('<div class="col-sm-2" id="carte-' + data['carteterrain'].id +
            '"><img src="../cartes/' + data['carteterrain'].fichier +
            '" height="70px" class="carteterrain ' + chameau + ' new"  data-carte="' + data['carteterrain']
            .id + '" /></div>');
          $('#main').append('<img src="../cartes/' + data['cartemain'].fichier +
            '" class="cartemain new" height="70px" data-carte="' + data['cartemain'].id + '" />');
        },
        error: function (data) {

          
          if (data === 'erreur7') {

            iziToast.error({
              title: 'Erreur',
              message: 'Vous avez deja 7 cartes en main  ',
            });

          }
          
           else {
            iziToast.error({
              title: 'Erreur',
              message: 'Action prendre',
            });
          }
        }

        
      })
    }
  })


  $(document).on('click', '#action-vendre', function () {
    // Envoi des cartes en Main
    if (carteType == "main") {
      
      console.log('Envoi des cartes main :D ');

      valeurVerif = true;
      vraivaleur = valeurSelectedMain[0];

      for (let i = 0; i < valeurSelectedMain.length; i++) {

        if (valeurVerif = true) {

          if (valeurSelectedMain[i] ==   vraivaleur ) {

           valeurVerif = true;
           console.log('POSSIBLE');

          }
          else{
           valeurVerif = false;
            console.log('PAS POSSIBLE');
            
            break;
          }
        }
        
      }

      if (valeurVerif== true ) {
        
        if (vraivaleur == ( 1 || 2 || 3 ) && vraivaleur.length >= 2) {
          
        }
      }
    

      $.ajax({
        url: "{{ path('jouer_action_vendre', {partie: partie.id}) }}",
        data: {
          main: cartesSelectedMain

        },
        method: 'POST',

        success: function (data) {
          $('#bloc-action').hide('2000');
          ValideTour();

          var i;
          for (i = 0; i < cartesSelectedMain.length; ++i) {
            // do something with `substr[i]`
            $('.carteMain_' + cartesSelectedMain[i]).hide('20000');
            iziToast.success({
              title: 'Succès',
              message: 'Vous avez vendu la carte  ' + cartesSelectedMain[i],
            });
          }

        },

      })
    }
  })

  $(document).on('click', '#action-troquer', function () {
    // Envoi des cartes en Main
    if (carteType == "main") {
      console.log('Envoi des cartes main :D ');

      $.ajax({
        url: "{{ path('jouer_action_troc', {partie: partie.id}) }}",
        data: {
          main: cartesSelectedMain,
          chameaux_main: cartesSelectedMainChameau,
          terrain: cartesSelectedTerrain
        },
        method: 'POST',

        success: function (data) {
          $('#bloc-action').hide('2000');
          ValideTour();

          var i;

          if (cartesSelectedMain.length == cartesSelectedTerrain.length && TrocChameau != true) {

            for (i = 0; i < cartesSelectedMain.length; ++i) {
              // do something with `substr[i]`
              $('.carteMain_' + cartesSelectedMain[i]).hide('20000');
              $('#terrain').append('<img style="margin-right: 25px;" src="../cartes/' + data[
                'cartemain'].fichier + '" class="cartemain new" height="70px" data-carte="' + data[
                'cartemain'].id + '" />').show('200');
            }

            for (i = 0; i < cartesSelectedTerrain.length; ++i) {
              // do something with `substr[i]`
              $('.terrain_' + cartesSelectedTerrain[i]).hide('20000');
              $('#main').append('<img style="margin-right: 25px;" src="../cartes/' + data[
                'carteterrain'].fichier + '" class="carteterrain new" height="70px" data-carte="' + data[
                'carteterrain'].id + '" />').show('200');
            }
            iziToast.success({
              title: 'Succès',
              message: 'Vous avez troqué ',
            });
          } else {
            iziToast.error({
              title: 'Erreur',
              message: 'Selectionnez la meme quantité de cartes ',
            });
          }

        },
        error: function (data) {

          
if (data === 'ERREUR_NB7') {

  iziToast.error({
    title: 'Erreur',
    message: 'Vous ne pouvez pas avoir plus de 7 cartes ',
  });

}

}

      })
    }
  })

  var partieID = $('input[type=hidden].idPartie').val();

  function ValideTour() {
    iziToast.question({
      timeout: 5000000,
      close: false,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'Extract',
      message: 'Voulez vous terminer votre tour',
      position: 'center',
      buttons: [
        ['<button><b>Oui</b></button>', function (instance, toast) {

          instance.hide({
            transitionOut: 'fadeOut'
          }, toast, 'button');
          $.ajax({
            url: ('/jouer-action/suivant/' + partieID),
            method: 'POST'
          });

          iziToast.show({
            id: 'haduken',
            timeout: 50000,
            close: true,
            overlay: true,
            theme: 'dark',
            icon: 'icon-contacts',
            title: 'Veuillez attendre votre tour ',
            displayMode: 2,
            message: 'La main vous sera donnée une fois que le joueur 2 finira son tour',
            position: 'center',
            transitionIn: 'flipInX',
            transitionOut: 'flipOutX',
            progressBarColor: 'rgb(0, 255, 184)',
            image: '/img/promo.png',
            imageWidth: 100,
            layout: 2,
            iconColor: 'rgb(0, 255, 184)'
          });



        }, true]

      ],

    });
  }


  $(document).on('click', '#action-terminer', function () {
    $.ajax({
      url: "{{ path('jouer_action_suivant', {partie: partie.id}) }}",
      method: 'POST'
    });




    location.reload();
  });
</script>
{% endblock %}