<div class="container-fluid" id="plateau">
    <input type="hidden" class="idPartie" value="{{partie.id}}">
    <input type="hidden" class="Route" value="{{ path('index_route') }}">
    
    <input type="hidden" class="UserJoueurID" value="{{app.user.id}}">

    <div class="row">
        <div class="col-8 plateau">
            <div class="row">

                <div class="col-sm-4">
                    <div class="row">

                        <div class="col-sm-9 jeton_div">
                            {% for jeton in partie.jetonsTerrain.data %}
                            <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="35px" />
                            {% endfor %}
                        </div>

                        <div class="col-sm-9 jeton_div">
                            {% for jeton in partie.jetonsTerrain.plan %}
                            <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="35px" />
                            {% endfor %}
                        </div>

                        <div class="col-sm-9 jeton_div">
                            {% for jeton in partie.jetonsTerrain.video %}
                            <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="35px" />

                            {% endfor %}
                        </div>





                        <div class="col-sm-9 jeton_div">
                            <div class="row">
                                <div class="col-sm-4">
                                    {% for jeton in partie.jetonsTerrain.Bonus_3 %}
                                    {% if loop.first %}
                                    <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="35px" />
                                    {% endif %}

                                    {% endfor %}

                                </div>
                                <div class="col-sm-4">
                                    {% for jeton in partie.jetonsTerrain.Bonus_4 %}
                                    {% if loop.first %}
                                    <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="35px" />
                                    {% endif %}

                                    {% endfor %}
                                    {{ partie.jetonsTerrain.Bonus_4|length }}
                                </div>
                                <div class="col-sm-4">
                                    {% for jeton in partie.jetonsTerrain.Bonus_5 %}
                                    {% if loop.first %}
                                    <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="35px" />
                                    {% endif %}

                                    {% endfor %}
                                    {{ partie.jetonsTerrain.Bonus_5|length }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-9 jeton_div">
                            {% for jeton in partie.jetonsTerrain.audio %}
                            <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="35px" />
                            {% endfor %}
                        </div>

                        <div class="col-sm-9 jeton_div">
                            {% for jeton in partie.jetonsTerrain.app %}
                            <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="35px" />
                            {% endfor %}
                        </div>

                        <div class="col-sm-9 jeton_div">
                            {% for jeton in partie.jetonsTerrain.disque %}
                            <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="35px" />
                            {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row" style="margin-bottom:30px; height:550px">
                        <div class="col-sm-12 box_main_j2" style="height: 101px">
                        {% if app.user.id == partie.joueur1.id %}
                            {% for carte in partie.mainJ2 %}
                            <img src="{{ asset('cartes/dos.jpg') }}" height="82px" />
                            {% endfor %}
                        {% elseif app.user.id == partie.joueur2.id %}
                            {% for carte in partie.mainJ1 %}
                            <img src="{{ asset('cartes/dos.jpg') }}" height="82px" />
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="col-sm-12 box_chameaux_j2" style="height: 101px">
                        {% if app.user.id == partie.joueur1.id %}
                            {% for carte in partie.chameauxJ2 %}
                            <img src="{{ asset('cartes/'~cartes[carte].fichier) }}" height="82px" />
                            {% endfor %}
                        {% elseif app.user.id == partie.joueur2.id %}
                            {% for carte in partie.chameauxJ1 %}
                            <img src="{{ asset('cartes/'~cartes[carte].fichier) }}" height="82px" />
                        {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-12 box_pioche" style="height: 140px">
                            <div class="row">
                                <div class="col-sm-2">{% if partie.pioche|length >0 %}<img src="{{ asset('cartes/dos.jpg') }}"
                                        height="90px" />{% else %}Vide{% endif %}
                                </div>
                                <div id="terrain" class="row terrain">
                                    {% for carte in partie.terrain %}
                                    <div class="col-sm-2 carte_{{ carte }}" id="carte-{{ carte }}"><img src="{{ asset('cartes/'~cartes[carte].fichier) }}"
                                            height="90px" class="carte{% if cartes[carte].valeur == 0 %}chameau{% else %}terrain terrain_{{ carte }}{% endif %}"
                                            data-carte="{{ carte }}" /></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="col-sm-12 box_chameaux_j1" style="height: 100px">
                        {% if app.user.id == partie.joueur1.id %}
                            {% for carte in partie.chameauxJ1 %}
                            <img src="{{ asset('cartes/'~cartes[carte].fichier) }}" class="carteMain_chameau" height="82px"
                                data-carte="{{ carte }}" />
                            {% endfor %}
                        {% elseif app.user.id == partie.joueur2.id %}
                        {% for carte in partie.chameauxJ2 %}
                        <img src="{{ asset('cartes/'~cartes[carte].fichier) }}" class="carteMain_chameau" height="82px"
                            data-carte="{{ carte }}" />
                        {% endfor %}
                        {% endif %}
                        </div>
                        <br><br>
                        <div class="col-sm-12 box_main_J1 " style="height: 100px">
                            <div id="main" class="row">
                              

                            {% if app.user.id == partie.joueur1.id %}
                                {% for carte in partie.mainJ1 %}
                                <img src="{{ asset('cartes/'~cartes[carte].fichier) }}" class="carteMain carteMain_{{ carte }}  valeur_{{ cartes[carte].valeur }}"
                                    height="90px" data-carte="{{ carte }}" data-valeur="{{ cartes[carte].valeur }}" />
                                {% endfor %}
                          

                            {% elseif app.user.id == partie.joueur2.id %}
                                {% for carte in partie.mainJ2 %}
                                <img src="{{ asset('cartes/'~cartes[carte].fichier) }}" class="carteMain carteMain_{{ carte }}  valeur_{{ cartes[carte].valeur }}"
                                    height="90px" data-carte="{{ carte }}" data-valeur="{{ cartes[carte].valeur }}" />
                                {% endfor %}
                        {% endif %}
                            </div>

                        </div>
                    </div>
                    <div class="row" id="bloc-action">

                    </div>
                    <div class="row" id="bloc-suivant" style="display:none">
                        <button class="btn btn-block btn-success" id="action-terminer">Terminer mon tour</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 sidebar">
            <div class="proJ1">
                <p class="pseudo">{{ partie.joueur1.username }}</p>
                <p class="points">{{ partie.pointj1 }} points</p>
                <!--Changement des points en temps réel pour le J1-->
                <ul class="win">
                    <li><img src="../jetons/win.png" class="jeton"></li>
                    <!--Mettre le jeton quand un joueur gagne une manche-->
                    <li><img src="../jetons/win.png" class="jeton"></li>
                    <!--Mettre le jeton quand un joueur gagne une manche-->
                </ul>
                <br><br>
            </div>
            <div class="proJ2">
                <p class="pseudo">{{ partie.joueur2.username }}</p>
                <p class="points">{{ partie.pointj2 }} points</p>
                <!--Durant la partie le score du J2 reste caché mais s'affiche à la fin de la manche-->
                <ul class="win">
                    <li><img src="../jetons/win.png" class="jeton"></li>
                    <!--Mettre le jeton quand un joueur gagne une manche-->
                    <li><img src="../jetons/win.png" class="jeton"></li>
                    <!--Mettre le jeton quand un joueur gagne une manche-->
                </ul>
                <br><br>
            </div>
            <div class="chat">

            </div>
            <div class="actions">
                <br><br>
                <div class="row">
                    <div class="col-sm-4">
                        <button class="btn btn-block btn-info" id="action-prendre">Prendre</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-block btn-danger" id="action-vendre">Vendre</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-block btn-warning" id="action-troquer">Troquer</button>
                    </div>
                </div>
            </div>
            <div class="autre">
                <input type="hidden" name="" value="">
            </div>
        </div>
    </div>
</div>