

{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ path('index_route') }}stylesheets/partie.css">
{% endblock %}
{% block body %}

<div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 embed-responsive" id="intro">
                    <video autoplay loop muted>
                        <source src="{{ path('index_route') }}/video/animation.mp4" type="video/mp4">
                    </video>
                    <div class="col-12 nav">
                        <a href="{{ path('home_route') }}" class="retour"> < Retour</a>
                        <ul>
                            <a href="#"><li>{{ app.user.username }}</li></a>
                            <li class="sepa">|</li>
                            <a href="{{ path('security_logout') }}"><li>Déconnexion</li></a>
                        </ul>
                    </div>
                    <div class="creer col-12 text-center text-white">
                        <div class="colo1">
                            <div class="mesparties">
                                <h2>Mes parties</h2>
                                {% for partie in mesparties %}
            <br>

            <a class="coucou" href="{{ path('afficher_partie', {'partie': partie.id}) }}">Partie  {{ partie.id }}</a>
          


            {% endfor %}
                            </div>
                        </div>
                        <div class="colo2">
                            <div class="invit">
                                <h2>Invitations</h2>
                                {% for partie in invparties %}
            <br>


            <a class="coucou" href="{{ path('afficher_partie', {'partie': partie.id}) }}">Partie  {{ partie.id }}</a>


            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="ok col-12 text-center text-white">
                        <div class="creerpartie" style="    height: 212px;
                        ">
                            <h2>Créer une partie</h2>
                            <div class="oip">
                                <div class="cont">
                                    <p>Choisissez votre adversaire :</p>
                                    <form action="{{ path('partie_creer') }}" method="post">
    
                                        
                                                
                                                <select name="joueur2">
                                                    {% for joueur in joueurs %}
                                                        <option value="{{ joueur.id }}">{{ joueur.username }}</option>
                                                    {% endfor %}
                                                </select>
                                            <br><br>
                                           
                                            
                                                <input type="submit" value="Créer Partie">
                                            
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}

{% block title %}

{% endblock %}